---
layout: default.njk
---
<h1>Capes and Cloaks and Cowls and a Park—Digital GM Screen</h1>

<main>
  <section>
    <div id="tags" class="autocomplete">
      <input class="autocomplete-input">
      <ul class="autocomplete-result-list"></ul>
    </div>
  </section>
</main>

<script>
  const tags = [
  {% for row in gameTags %}
  {
    name: '{{ row.Name.trim() }}',
    description: '{{ row.Description.trim() }}',
  },
  {% endfor %}
  ];

  new Autocomplete('#tags', {
    search: input => {
      if (input.length < 1) { return [] }
      return tags.filter(tag => {
        return tag.name.toLowerCase()
          .startsWith(input.toLowerCase())
      })
    }
  });
</script>

{% for tag in gameTags %}
<p><strong>{{ tag.Name }}:</strong> {{ tag.Description }}</p>
{% endfor %}
