---
layout: default.njk
---
<h1>
  <img src="img/needle_thread.png" width="240" height="200" alt="">
  <span>Capes and Cloaks and Cowls and a Park</span>
  <span>Digital GM Screen</span>
</h1>

<main>
  <section>
    <header>
      <h2>Tags</h2>
    </header>
    <div class="scrollable">
      <ol>
      {% for row in gameTags %}
        <li>
          <strong>{{ row.Name.trim() }}:</strong>
          <span>{{ row.Description.trim() }}</span>
        </li>
      {% endfor %}
      </ol>
    </div>
  </section>
</main>
