---
layout: default.njk
---
<h1>
  <span>Capes and Cloaks and Cowls and a Park</span>
  <span>Digital GM Screen</span>
</h1>

<main>
  {# <section>
    <div id="tags" class="autocomplete">
      <input class="autocomplete-input">
      <ul class="autocomplete-result-list"></ul>
    </div>
  </section> #}

  <section>
    <header>
      <h2>Tags</h2>
    </header>
    <div class="scrollable">
      <ol>
      {% for row in gameTags %}
        <li>
          <strong>{{ row.Name.trim() }}:</strong>
          <span>{{ row.Description.trim() }}</span>
        </li>
      {% endfor %}
      </ol>
    </div>
  </section>
</main>

<script>
  // const tags = [
  // {% for row in gameTags %}
  // {
  //   name: '{{ row.Name.trim() }}',
  //   description: '{{ row.Description.trim() }}',
  // },
  // {% endfor %}
  // ];
  //
  // new Autocomplete('#tags', {
  //   search: input => {
  //     if (input.length < 1) { return [] }
  //     return tags.filter(tag => {
  //       return tag.name.toLowerCase()
  //         .startsWith(input.toLowerCase())
  //     })
  //   }
  // });
</script>
